
*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Roboto', sans-serif;

    --clr-light: #f7edf7;
    --clr-dark: #050505;
    --clr-accent: #f516f5;

    --fs-h4: 35px;

    --bs: .25em .23em .75em rgba(0,0,0,.25), .125em .125em
    .25em rgba(0,0,0,.15);
}

@media (min-width: 800px) {
    :root {
        h4: 55px;
    }
}

/*Header*/
header {
    text-align: center;
    padding: 1em;
}

/* Body */
body {
    background: var(--clr-light);
    color: var(--clr-dark);
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
}

div {
    text-align: center;
}

/* Button */
button {
    display: flex;
    margin: auto;
    padding: 1em 2em;
    align-items: center;
    margin-bottom: 1rem;
    background: var(--clr-accent);
    color: var(--clr-dark);
    cursor: pointer;
    font-size: .8rem;
    text-transform: uppercase;
    transition: transform 200ms ease-in-out;
}

button:hover {
    transform: scale(1.2);
}
/* Typography */
h2,
h4 {
    margin-top: 0;
    font-size: var(--fs-h4);
    font-family: var(--ff-primary)
}

h2 {
    color: var(--clr-dark);
    margin-bottom: .1rem;;
}

