*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Roboto', sans-serif;

    --ff-reg: 100;
    --ff-bold: 300;

    --clr-light: #feb47b;
    --clr-medium: #ff7e5f;
    --clr-accent: #f516f5;

    --fs-h2: 1rem;

    --bs: .25em .23em .75em rgba(0,0,0,.25), .125em .125em
    .25em rgba(0,0,0,.15)  
}

@media (min-width: 800px) {
    :root {
        --fs-h2: 1rem;
}
}

/* Body */
body {
    background: linear-gradient(to right, var(--clr-medium), var(--clr-light));
    color: var(--clr-dark);
    height: 100vh;
    margin: 0;
    line-height: 2.5;
    text-transform: uppercase;
    display: block;
    justify-content: center;
    align-items: center;
}


/* Button */

div {
    display: flex;
   justify-content: center; /* Center items horizontally */
   align-items: center; /* Center items vertically */
   gap: 20px; 
}
img {
    width: 100px;
    height: auto;
    padding: 10px;
    margin: 5px;
    cursor: pointer;
    transition: transform 200ms ease-in-out;
    
}
img:hover {
    transform: scale(1.5);
}


/* Typography */
h1,
h2 {
    line-height: 1;
    margin-top: 0;
    font-size: var(--fs-h2);
    font-family: var(--ff-primary);
    text-align: center;
}

h1 {
    margin-bottom: 1px;
    padding: 1em;
}

